---
layout: default
title: Kaitlin J. Newman
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.url }}/blog-template{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
   <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.url }}/blog-template{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h1>Mapping Experiences</h1>
  <ul class="posts">
   <li><span>04 Nov 2014</span> &raquo; <a href="http://www.internal-displacement.org/assets/library/Media/201405-globalOverview-2014/8.-GO-2014-At-a-Glance-Final-Eng.pdf">Forced Migration Stats</a></li>
  <li><span>04 Nov 2014</span> &raquo; <a href="http://www.teachgenocide.org/files/DocsMaps/Map%20of%20the%20Armenian%20Genocide.pdf">Armenian Genocide Map</a></li>
  <li><span>04 Nov 2014</span> &raquo; <a href="/http://lindsayrgwatt.com/blog/2012/09/a-different-way-of-comparing-canada-america/">Canada Product Map</a></li>
  </ul>
  <li><span>04 Nov 2014</span> &raquo; <a href="http://www.internal-displacement.org/assets/library/Media/201405-globalOverview-2014/13.-201405-map-global-overview-en-01.png">Forced Migration Map 2014</a></li>
  </ul>
  <li><span>28 Oct 2014</span> &raquo; <a href="/https://twitter.com/MaptimeDC?s=03">DC Maptime</a></li>
  <li><span>28 Oct 2014</span> &raquo; <a href="http://www.vox.com/a/maps-explain-the-middle-east">Maps that explain the Middle East</a></li>
  <li><span>28 Oct 2014</span> &raquo; <a href="http://www.vox.com/2014/10/27/7062921/immigration-1900-race-racism-quotas-eugenics-map-settled-united-states">Detailed Immigration Map of the US 1900</a></li>
  <li><span>28 Oct 2014</span> &raquo; <a href="http://www.vox.com/maps">Great VOX maps</a></li>
  </ul>


<h1>My Maps</h1>
  <li><span>12 Nov 2014</span> &raquo; <a <iframe width='100%' height='500px' frameBorder='0' src='<iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/kjnewman.k4o4pnmg/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoia2puZXdtYW4iLCJhIjoiTVpTSG1PZyJ9.NsrFsH8alqH495V8-MDCFQ'></iframe>'"24 Hours Cartegena, Columbia</a></li>
  <li><span>04 Nov 2014</span> &raquo; <a <iframe width='100%' height='500px' frameBorder='0' src='https://www.mapbox.com/editor/?id=kjnewman.k4ni1m72#project'></iframe>"Earthquakes and the Beginning</a></li>

<h1>Prototyping, Ideas, and Inspirations</h1>
  <li><span>11 Nov 2014</span> &raquo; <a href="https://proto.io">Silly Fast Prototyping</a></li>
  <li><span>11 Nov 2014</span> &raquo; <a href="https://www.flinto.com">App Prototyping</a></li>
  <li><span>11 Nov 2014</span> &raquo; <a href="http://www.codecademy.com">Coding</a></li>
  <li><span>11 Nov 2014</span> &raquo; <a href="http://www.media.mit.edu">MIT Media Lab</a></li>

<h1>Materials and Outputs</h1>
  <li><span>11 Nov 2014</span> &raquo; <a href="http://www.estreetplastics.com/Flourscent_Plexiglass_Acrylic_Sheet_s/108.htm">E Street Neon Plexiglass</a></li>
  <li><span>11 Nov 2014</span> &raquo; <a href="http://www.joeydevilla.com/wordpress/wp-content/uploads/2009/10/geomacattack.jpg">USA Light Bright Map</a></li>
  <li><span>11 Nov 2014</span> &raquo; <a href="http://www.hasbro.com/litebrite/en_US/">Interactive Light Brights</a></li>

<!--
  <h1>Prominent Open Source Projects</h1>
  <ul class="posts">
    <li><a href="http://github.com/github/gollum/">Gollum:</a> A simple, Git-powered wiki with a sweet API and local frontend.</li>
    <li><a href="http://github.com/mojombo/jekyll/">Jekyll:</a> A simple, blog aware, static site generator (used for this site).</li>
    <li><a href="http://github.com/mojombo/god/">God:</a> Ruby process monitoring framework with easy extensibility.</li>
    <li><a href="http://github.com/mojombo/grit/">Grit:</a> Object oriented Ruby bindings for Git (used by GitHub).</li>
    <li><a href="http://github.com/mojombo/ernie/">Ernie:</a> Ruby/Erlang Hybrid BERT-RPC server.</li>
    <li><a href="http://github.com/mojombo/proxymachine/">ProxyMachine:</a> Layer 7 routing proxy in Ruby with Event Machine.</li>
    <li><a href="http://github.com/mojombo/primer/">Primer:</a> JavaScript based Flash-like API layered on top of Canvas.</li>
    <li><a href="http://github.com/mojombo/chronic/">Chronic:</a> Ruby natural language date/time parser.</li>
  </ul>
-->
</div>
